{% extends 'base.html' %}

{% block title %}Approve Hours{% endblock %}

{% block content %}
<section class="section">
    <div class="container">

        <div class="card">
            <h2>Approve Volunteer Hours</h2>

            <table>
                
    <tr>
        <th>Student</th>
        <th>Opportunity</th>
        <th>Status</th>
        <th>Hours</th>
        <th>Action</th>
    </tr>

    {% for reg in registrations %}
    <tr>
        <td>{{ reg.student.first_name }}</td>

        <td>{{ reg.opportunity.name }}</td>

        <td>{{ reg.status }}</td>

        <td>{{ reg.volunteer_hours }}</td>

        <td>
            {% if reg.status != 'completed' %}
            <a href="{% url 'dashboard:complete_application' reg.pk %}">
                Complete
            </a>
            {% else %}
            Completed
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
        </div>

    </div>
</section>
{% endblock %}